{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}

    <img src="{{ base_path ~ directory }}/images/map_3.jpg" usemap="#image-map">

    <map name="image-map">
      <area target="_self" alt="Andalucia" title="Andalucia" href="http://vinespa.be/portfolio?field_bebidas_appellation_target_id=163" coords="183,342,223,364" shape="rect">
      <area target="_self" alt="Canarias" title="Canarias" href="http://vinespa.be/portfolio?field_bebidas_appellation_target_id=337" coords="336,369,554,468" shape="rect">
      <area target="_self" alt="Carinena" title="Carinena" href="http://vinespa.be/portfolio?field_bebidas_appellation_target_id=175" coords="327,157,346,174" shape="rect">
      <area target="_self" alt="Castilla y Leon" title="Castilla y Leon" href="http://vinespa.be/portfolio?field_bebidas_appellation_target_id=208" coords="216,157,160,134" shape="rect">
      <area target="_self" alt="Cava" title="Cava" href="http://vinespa.be/portfolio?field_bebidas_appellation_target_id=93" coords="461,142,478,159" shape="rect">
      <area target="_self" alt="Priorat" title="Priorat" href="http://vinespa.be/portfolio?field_bebidas_appellation_target_id=211" coords="433,153,455,162" shape="rect">
      <area target="_self" alt="Galicia" title="Galicia" href="http://vinespa.be/portfolio?field_bebidas_appellation_target_id=343" coords="60,72,103,106" shape="rect">
      <area target="_self" alt="Islas Balears" title="Islas Balears" href="http://vinespa.be/portfolio?field_bebidas_appellation_target_id=340" coords="462,202,551,274" shape="rect">
      <area target="_self" alt="Jerez" title="Jerez" href="http://vinespa.be/portfolio?field_bebidas_appellation_target_id=98" coords="126,383,164,408" shape="rect">
      <area target="_self" alt="Jumilla" title="Jumilla" href="http://vinespa.be/portfolio?field_bebidas_appellation_target_id=18" coords="310,299,343,316" shape="rect">
      <area target="_self" alt="La Mancha" title="La Mancha" href="http://vinespa.be/portfolio?field_bebidas_appellation_target_id=164" coords="214,245,303,303" shape="rect">
      <area target="_self" alt="Malaga" title="Malaga" href="http://vinespa.be/portfolio?field_bebidas_appellation_target_id=239" coords="191,370,234,395" shape="rect">
      <area target="_self" alt="Montsant" title="Montsant" href="http://vinespa.be/portfolio?field_bebidas_appellation_target_id=82" coords="412,161,428,174" shape="rect">
      <area target="_self" alt="Navarra" title="Navarra" href="http://vinespa.be/portfolio?field_bebidas_appellation_target_id=330" coords="295,99,331,138" shape="rect">
      <area target="_self" alt="Penedes" title="Penedes" href="http://vinespa.be/portfolio?field_bebidas_appellation_target_id=3" coords="434,165,454,173" shape="rect">
      <area target="_self" alt="Port" title="Port" href="http://vinespa.be/portfolio?field_bebidas_appellation_target_id=296" coords="48,138,107,329" shape="rect">
      <area target="_self" alt="Rias Baixas Galicia" title="Rias Baixas Galicia" href="http://vinespa.be/portfolio?field_bebidas_appellation_target_id=144" coords="42,117,67,131" shape="rect">
      <area target="_self" alt="Ribeiro Galicia" title="Ribeiro Galicia" href="http://vinespa.be/portfolio?field_bebidas_appellation_target_id=137" coords="68,110,84,123" shape="rect">
      <area target="_self" alt="Rioja" title="Rioja" href="http://vinespa.be/portfolio?field_bebidas_appellation_target_id=62" coords="258,102,291,134" shape="rect">
      <area target="_self" alt="Rueda" title="Rueda" href="http://vinespa.be/portfolio?field_bebidas_appellation_target_id=111" coords="179,161,214,185" shape="rect">
      <area target="_self" alt="Somontana" title="Somontana" href="http://vinespa.be/portfolio?field_bebidas_appellation_target_id=89" coords="294,154,325,182" shape="rect">
      <area target="_self" alt="Toro" title="Toro" href="http://vinespa.be/portfolio?field_bebidas_appellation_target_id=205" coords="163,158,178,175" shape="rect">
      <area target="_self" alt="Taxcolina Pais Vasco" title="Taxcolina Pais Vasco" href="http://vinespa.be/portfolio?field_bebidas_appellation_target_id=198" coords="287,69,322,87" shape="rect">
      <area target="_self" alt="Utiel Requena" title="Utiel Requena" href="http://vinespa.be/portfolio?field_bebidas_appellation_target_id=184" coords="326,249,350,269" shape="rect">
      <area target="_self" alt="Valencia" title="Valencia" href="http://vinespa.be/portfolio?field_bebidas_appellation_target_id=102" coords="334,236,358,232,366,264" shape="poly">
    </map>

  {% endblock %}
</div>
